aiohttp
boonnano
boto3
botocore
dash
dash-bootstrap-components
beautifulsoup4
faiss-cpu
jupyter
jupyter_contrib_nbextensions
matplotlib
numpy
pandas
progressbar
pycodestyle
pymongo[srv]
pytest
python-dotenv
requests
seaborn
scipy
tqdm
umap-learn
-e .  # install src package in editable mode
