aiohttp
beautifulsoup4
boto3
codetiming
certifi
dash
dash-auth
dash-extensions
dash-bootstrap-components
dash-bootstrap-templates
faiss-cpu
gunicorn
numpy
pandas
pycodestyle
pymongo[srv]
pytest
pytest-asyncio
tqdm
umap-learn
xarray
-e . # install this project as a package in editable mode
