aiohttp
boonnano
boto3
dash
dash-bootstrap-components
beautifulsoup4
jupyter
jupyter_contrib_nbextensions
matplotlib
numpy
pandas
progressbar
pycodestyle
pymongo[srv]
python-dotenv
requests
seaborn
scipy
tqdm
umap-learn
-e .
