body {
    font-family: "Classic 2007", sans-serif;
    font-size: x-large;
}

/* Bootstrap overrides */
::placeholder {
}

.btn {
    font-size: x-large;
    border-radius: 0.15em;
}

.dropdown-item {
    font-size: x-large;
}

/* Custom classes */
.input-field {
    padding-left: 0.5em;
    border: solid;
    border-radius: 0.15em;
}

.boxplot-graph {
    height: 20em;
}