body {
    /*background-color: #303030;*/
    background-color: #222222;
}

.input-form {
    color: #ffffff;
    background-color: #111111;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: #626262;
    /*height: 2em;*/
    padding-top: 4px;
    padding-left: 0.5em;
}

.VirtualizedSelectOption {
    background-color: #1e1e1e;
    color: white;
    font-family: "rs-regular", sans-serif;
    padding-top: 2px;
}

.VirtualizedSelectSelectedOption {
    font-family: "rs-bold-1", sans-serif;
    padding-top: 0;
}


.VirtualizedSelectFocusedOption {
    background-color: #303030;
}

.stats-table {
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 2px;
    padding-bottom: 1px;
    background-color: #303030;
    border-color: #303030;
    border-width: 1px;
    border-radius: 4px;
}

.table-elem {
    background-color: #111111;
    border-width: 1px;
    border-style: solid;
    border-color: #303030;
    padding: 4px;
    border-radius: 4px;
}

.plot-title {
    font-family: "rs-bold", sans-serif;
}

.table-icon {
    padding-left: 0;
}

.table-number {
    font-family: "rs-regular", sans-serif;
    padding-top: 3px;
    text-align: center;
}
