@font-face {
    font-family: "rs-bold";
    src: url("fonts/rs-bold-1px.ttf");
}

@font-face {
    font-family: "rs-regular";
    src: url("fonts/rs-regular.ttf");
}

.rs-bold {
    font-family: "rs-bold", sans-serif;
    font-size: large;
}

.rs-regular {
    font-family: "rs-regular", sans-serif;
    font-size: large;
}
