/* global settings */
h1 {
    padding-top: 0.25em;
    font-size: 250%;
}

body {
    font-family: "OSRS Chat", sans-serif;
    font-size: xx-large;
}

/* Bootstrap overrides */
.btn {
    font-size: xx-large;
}

.dropdown-item {
    font-size: xx-large;
}

/* Custom classes */
.vspace {
    padding-top: 1em;
}

.label-text {
    font-weight: bold;
}

.input-box {
    padding-left: 0.5em;
    border: solid;
    border-radius: 0.15em;
}

.username-blob {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 1em;
}

.table-icon {
    /*background-color: #A5D6D9;*/
    padding-top: 0.05em;
    height: 1.25em;
    padding-left: 0;
}

.table-stat {
    /*padding-top: 0.2em;*/
    /*margin-top: 0;*/
    /*font-size: x-large;*/
    /*padding-top: 3px;*/
    padding-top: 0.1em;
    font-size: 85%;
    text-align: center;
    padding-right: 0;
}

.total-level {
    font-size: 50%;
    padding-top: 0;
}

.table-cell {
    border-width: 0.05em;
    border-style: solid;
    padding: 0.05em;
    border-radius: 0.05em;
}

.stats-table {
    /*background-color: #303030;*/
    /*padding-left: 1em;*/
    /*padding-right: 1em;*/
    /*padding-top: 2px;*/
    /*padding-bottom: 0.5px;*/
    border-width: 0.20em;
    border-radius: 0.10em;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.boxplot-graph {
    height: 10em;
}

.support-link {
    padding-top: 0.25em;
    font-size: large;
}

.support-button {
    padding: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

