h1 {
    padding-top: 0.25em;
    font-size: 250%;
}

body {
    font-family: "Classic 2007", sans-serif;
    font-size: xx-large;
}

/* Bootstrap overrides */
::placeholder {
}

.btn {
    font-size: xx-large;
    border-radius: 0.15em;
}

.btn-close { /* Alert 'x' button */
    font-size: x-small;
}

.dropdown-item {
    font-size: xx-large;
}

/* Custom classes */
.label-text {
    font-weight: bold;
}

.username-search-box {
    padding-left: 0.5em;
    border: solid;
    border-radius: 0.15em;
}

.username-blob {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 1em;
}

.boxplot-graph {
    height: 20em;
}

.support-link {
    padding-top: 0.25em;
    font-size: x-large;
}

.support-button {
    padding: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
    font-size: x-large;
}

/* Utility */
.text-smaller {
    font-size: x-large;
}
