/* global settings */
h1 {
    padding-top: 0.25em;
    font-size: 250%;
}

body {
    font-family: "OSRS Chat", sans-serif;
    font-size: xx-large;
}

/* Bootstrap overrides */
.btn {
    font-size: xx-large;
}

.dropdown-item {
    font-size: xx-large;
}

/* Custom classes */
.vspace {
    padding-top: 1em;
}

.label-text {
    font-weight: bold;
}

.input-box {
    padding-left: 0.5em;
}

.username-blob {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 1em;
}

.table-icon {
    padding-top: 0.1em;  /* empirical value, increasing pushes icons lower */
    height: 1em;         /* empirical value */
}

.table-stat {
    text-align: center;  /* necessary for text to center in containers */
    font-size: 85%;      /* empirical value, helps text size match icon size */
}

.stats-table {
    border-radius: 0.25em;
    padding-top: 0.20em  /* empirical value, matches top margin size with bottom */
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.support-link {
    padding-top: 0.25em;
    font-size: large;
}

.support-button {
    padding: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

